/* .text {
    display: inline-flex;
} */

input, input:focus, textarea, textarea:focus {
    background: transparent;
    border: 0px;
    outline: none;
    font-family: Courgette;
}
.container {
    width: 70%;
    position: fixed;
    text-align: center;
}

#title {
    width: 100%;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;

}

#content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    width: 100%;
    height: 70vh;
    padding: 0rem 2rem 2rem 2rem; 
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
    min-height: 40%;
    resize: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.deleteButton {
    size: 1px;
}