<div class="container">
    <form #noteForm="ngForm" (ngSubmit)="onSave(noteForm.value)">
        <input type="hidden" id="id" name="id" [(ngModel)]="selectedNote.id">
        <div>
            <input id="title" type="text" maxlength="45" autocomplete="off" name="title" [(ngModel)]="selectedNote.title">
        </div>
        <div>
            <textarea id="content" class="scroll" type="text" autocomplete="off" name="content" [(ngModel)]="selectedNote.content"> </textarea>
        </div>
        <div>
            <button (click)="onDelete(noteForm.value.id)" class="deleteButton" type="button" mat-raised-button color="warn"> Delete</button>
            <button class="saveButton" type="submit" mat-raised-button color="blue">Save</button>
        </div>
    </form>
</div>