.loginPanel {
    align-self: center;
    text-align: center;
    width: 100%;
    border: 5rem;
}


.title {
    font-weight: bold;
    font-size: 4rem;
}

.linkToRegister {
    display: inline-flex;
    border: 1rem;
    padding: 1rem;
}
