.material-icons {
    color: rgb(255, 0, 0);
    clear: both;
    cursor: pointer;
}

.container {
    margin: 8px;
    height: auto;
    background-color: aqua;
    width: 500px;
    cursor: pointer;
}

.container:hover {
    background-color: black;
    color: red;
}

.title {
    float:left;
    font-weight: 700;
    font-size: 25px;
    margin:auto
}