.material-icons {
    color: rgb(255, 0, 0);
    clear: both;
    cursor: pointer;
}

.container {
    margin: 8px;
    height: auto;
    width: auto;
    border: 2px solid black;
    cursor: pointer;
    overflow: hidden;

}

.container:hover {
    background-color: black;
    color: red;
}

.title {
    float:left;
    font-weight: 700;
    font-size: 25px;
    margin:auto
}