<h1>Notes List</h1>
<button mat-raised-button (click)="onBack()" type="button">&lt;</button>
<button mat-raised-button (click)="onNext()" type="button">&gt;</button>

<button id="createButton" (click)="createNoteEvent()" mat-raised-button color="blue" > Create </button>

<app-note-item *ngFor="let NoteDto of page.content"
 [note]="NoteDto"
 (deleteEvent)="onDeleteNote(NoteDto)"
 (selectEvent)="onSelectContainer(NoteDto)"></app-note-item>

 <div (click)="onBackToLogin()" class="links">Back to login page</div>