html,body {
    margin: 0%;
    height: 100%;

}

.app {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 96%;
    position: fixed;
    display: inline
}

.appItem {
}

.list {
    width: 29%;
    height: 100%;
    float: left;
    border-right: 0.5rem solid black;
}

.panel {
    width: 70%;
    height: 100%;
    text-align: center;
    max-height: 100%;
    word-wrap: break-word;
    overflow: auto;
}

